/*Импорт шрифта Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat+Alternates:wght@300;600&family=Oswald:wght@300;400;700&display=swap');


#bgVideo {
    /*Заполняем всю страницу фоновым видео*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#hello_container {
    position: absolute;
    margin-top: 125px;
    width: 100%;
    height: auto;
    left: 0;
    text-align: center;
}

#hello_text {
    /*Позиция*/
    width: auto;
    /*Настройки текста*/
    color: white;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oswald', sans-serif;
}

#hello_textfield {
    /*Позиция*/
    width: 25%;
    text-align: center;

    /*Форма*/
    border-radius: 12px;
    border: 2px solid #D24D57;
    background-color: rgba(0, 0, 0, 0.186);

    /*Настройки текста*/
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oswald', sans-serif;
}

#next_btn {
    /*Позиция*/
    margin-top: 15px;

    /*Форма и цвета кнопки*/
    border-radius: 8px;
    border: 2px solid #D24D57;
    background-color: rgba(255, 0, 0, 0.186);
    transition: .15s ease-in-out;

    /*Настройки текста*/
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oswald', sans-serif;
}

#next_btn:hover {
    background-color: #D24D57;
}

#next_btn:active {
    font-size: 35px;
    transition: .05s ease-in-out;
    background-color: #3a1616;
}

#input_err {
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oswald', sans-serif;
}